@import url('https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin:0; 
}
.fontGloria{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 75px;

}
.padding75{
    padding: 75px;
}
.paddingeasy{
    padding-left : 200px;
    padding-bottom: 10px;
}
.paddinghard{
    padding-left : 200px;
    padding-top: 10px;
}
.pad75rl{
    padding-left : 125px;
    padding-right : 125px;
}
.pad75{
    padding-left : 91px;
    padding-right : 91px;
}
.center{
    text-align: center;
}

.fontGloria30{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 30px;

}
.orange{
    background-color: #e2bd00;
    color:red;
}
