@import url('https://fonts.googleapis.com/css?family=Muli:400,700');

canvas {
    margin: 100px auto 20px auto;
    border: 1px solid black;
    background-image: url("../background.png");
}

body {
    text-align: center;
    background-color: grey;
    font-family: 'Muli';
}